<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.cdnfonts.com/css/modern-typewriter" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <script>
      function validateForm() {
        var x = document.forms["myForm"]["text0","text1"].value;
        if (x == "") {
            alert("Text must be filled out");
            return false;
        }
      }
    </script>   
    <title>Archie G Harrison</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <br/>
    <div id="main_block">
      <div id="main_content">
          {% block content %}
          {% endblock %}
      </div>

      <div id="about_me_content">
        {% block about_me_content %}
        {% endblock %}
      </div>

      <div id="portfolio_content">
        {% block portfolio_content %}
        {% endblock %}
      </div>

      <div id="contact_content">
        {% block contact_content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>