{% extends 'base.html' %}

{% block content %}
    <h1>Hello World!</h1>

    <p>I'm {{ first_name }}, a passionate and aspiring software engineer dedicated to turning innovative ideas into functional and efficient solutions</p>

    <p>Transforming Ideas into Reality | Aspiring Software Engineer</p>


{% endblock %}
    
{% block about_me_content %}

<h1>About Me</h1>

    <p>Hey there! I'm Archie G Harrison, a Birmingham-based aspiring software engineer with a fervor for crafting elegant and robust solutions.</p>

    <p>My expertise lies in Python, HTML, CSS, JScript, SQL, and I am constantly exploring new realms to expand my knowledge. I believe in the power of continuous learning and collaboration to push the boundaries of what's possible in the digital World.</p>

{% endblock %}

{% block portfolio_content %}
    <h1>Portfolio</h1>

    <p>Explore one of the projects I've had the pleasure of working on.</p>

    </li>
        <a style="text-decoration: none;" class="nav-link" href="{{ url_for('meme_generator') }}">A Meme Generator</a>
    </li>
    <br></br>

{% endblock %}

{% block contact_content %}
    <h1>Contact Me</h1>

    <p>Email : archiegharrison@gmail.com</p>
    <br></br>


{% endblock %}